.player_wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: #fff;
}
.player{
    height: inherit;
    width: inherit;
} 